In [2]:
import pandas as pd

In [5]:
t = pd.Series([1,2,31,3,4,4])
print(t)
type(t)

0     1
1     2
2    31
3     3
4     4
5     4
dtype: int64

pandas.core.series.Series

- 构建带标签的数组

In [7]:
t2 = pd.Series([2,5,2,5,3],index=list("abcde"))
print(t2)

a    2
b    5
c    2
d    5
e    3
dtype: int64

- index 指定标签

In [9]:
temp_dict = {"n":"df","nge":16}
print(temp_dict)
t3 = pd.Series(temp_dict)
print(t3)
t3.dtype

{'n': 'df', 'nge': 16}
n      df
nge    16
dtype: object

dtype('O')

In [10]:
t2.astype(float)

a    2.0
b    5.0
c    2.0
d    5.0
e    3.0
dtype: float64

- astype：改变类型

In [11]:
t2["a"]

2

In [12]:
t2[1]

5

In [13]:
t2[[1,2]]

b    5
c    2
dtype: int64

In [15]:
t2[t2>2]

b    5
d    5
e    3
dtype: int64

In [16]:
t2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
type(t2.index)

pandas.core.indexes.base.Index

In [18]:
len(t2.index)

5

In [20]:
t2.values

array([2, 5, 2, 5, 3])

In [21]:
type(t2.values)

numpy.ndarray

In [23]:
df = pd.read_csv("./dogNames2.csv")
print(df)

          Row_Labels  Count_AnimalName
0                  1                 1
1                  2                 2
2              40804                 1
3              90201                 1
4              90203                 1
5             102201                 1
6            3010271                 1
7              MARCH                 2
8              APRIL                51
9             AUGUST                14
10          DECEMBER                 4
11            SUNDAY                13
12            MONDAY                 4
13            FRIDAY                19
14               JAN                 1
15               JUN                 1
16           JANUARY                 1
17              JUNE                24
18              JULY                 9
19               MON                 2
20               MAY                13
21          NOVEMBER                 1
22           TUESDAY                 7
23         SEPTEMBER                 2
24         WEDNESDAY                10
25               SUN                 5
26     &QUOT;G&QUOT;                 1
27       (LEELA)LILA                 1
28              166Y                 1
29           2CHAINZ                 1
...              ...               ...
16190           ZUKI                 3
16191          ZUKIE                 1
16192           ZUKO                 5
16193           ZULA                 3
16194           ZULI                 1
16195           ZULU                11
16196           ZULY                 2
16197           ZUMA                 5
16198          ZUMBA                 3
16199           ZUNI                 3
16200          ZUREE                 1
16201           ZURI                 5
16202           ZUSA                 1
16203          ZUSHI                 1
16204           ZUSY                 1
16205           ZUTY                 1
16206           ZUZI                 1
16207          ZUZIA                 1
16208           ZUZU                16
16209       Z-WILLOW                 1
16210            ZYU                 1
16211             ZZ                 2
16212           ???Y                 1
16213           TRUE                 3
16214          37846                 1
16215          37916                 1
16216          38282                 1
16217          38583                 1
16218          38948                 1
16219          39743                 1

[16220 rows x 2 columns]

In [4]:
import numpy as np
# pd.DataFrame(np.arange(12).reshape(3,4))
pd.DataFrame(np.arange(12).reshape(3,4), index=list("abc"), columns=list("WXTZ"))

   W  X   T   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

- index：行索引
- columns：列索引

In [28]:
d1 = {"n":["l","df"],"b":["ff","dd"],"tel":[1,2]}
t1 = pd.DataFrame(d1)
print(t1)

    n   b  tel
0   l  ff    1
1  df  dd    2

In [34]:
t1.ndim
print(t1.head(1))
print(t1.info())
print(t1.describe())
t1.tail(2)

   n   b  tel
0  l  ff    1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
n      2 non-null object
b      2 non-null object
tel    2 non-null int64
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes
None
            tel
count  2.000000
mean   1.500000
std    0.707107
min    1.000000
25%    1.250000
50%    1.500000
75%    1.750000
max    2.000000

    n   b  tel
0   l  ff    1
1  df  dd    2

- ndim：纬度
- head：前5行
- tail：后5行
- info：属性占用等信息
- describe：统计信息

In [36]:
t1.sort_values(by="n",ascending=False)

    n   b  tel
1  df  dd    2
0   l  ff    1

- sort_values：排序
    - by：指定排序标准
    - ascending：False逆序排序

In [38]:
t1[:]["b"]

0    ff
1    dd
Name: b, dtype: object

In [41]:
t1.loc[1,"n"]

'df'

In [42]:
t1.loc[:,["n","b"]]

    n   b
0   l  ff
1  df  dd

In [43]:
t1.loc[0:1,["n"]]

    n
0   l
1  df

In [44]:
t1.iloc[1]

n      df
b      dd
tel     2
Name: 1, dtype: object

In [46]:
t1.iloc[1,:]

n      df
b      dd
tel     2
Name: 1, dtype: object

In [48]:
t1.iloc[1] = np.nan

In [49]:
t1

     n    b  tel
0    l   ff  1.0
1  NaN  NaN  NaN

In [51]:
pd.isnull(t1)
pd.notnull(t1)

       n      b    tel
0   True   True   True
1  False  False  False

- isnull：为nan的
- notnull：不为nan的

In [52]:
t1.dropna(axis=0,how="any")

   n   b  tel
0  l  ff  1.0

In [54]:
t1.dropna(axis=0,how="all")
t1.dropna(axis=0,how="all", inplace=True)

- how
    - all 全为nan的行去掉
    - any 具有nan的行去掉
- inplace 直接修改t1

In [56]:
t1.mean()

tel    1.0
dtype: float64

- mean 求均值

In [19]:
df1 = pd.DataFrame(np.ones((2,4)),index=["A","B"], columns=list("abcd"))
df2 = pd.DataFrame(np.zeros((3,3)),index=["A","B","C"], columns=list("xyz"))
df2.join(df1)
df3 = pd.DataFrame(np.ones((3,3)),index=["D","E","F"], columns=list("xyz"))
df2.merge(df3, how="outer")

     x    y    z
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0
5  0.0  0.0  0.0
6  0.0  0.0  0.0
7  0.0  0.0  0.0
8  0.0  0.0  0.0

- join 按行合并
- mernge 按列合并
    - outer 并集
    - inner 交集（默认）
    - left 左边为准
    - right 右边为准

In [ ]:
# 数据按照多个条件进行分组,返回Series
grouped = df["Brand"].groupby(by=[df["Country"],df["State/Province"]]).count()
print(grouped)
print(type(grouped))

# 数据按照多个条件进行分组,返回DataFrame
grouped1 = df[["Brand"]].groupby(by=[df["Country"], df["State/Province"]]).count()

- by 设置索引条件

In [ ]:
grouped1.index
grouped1.index['x','y']
grouped1.reindex(list("abcdf"))
grouped1.set_index("Country", drop=False)
grouped1.set_index("Country").index.unique()

- 获取index
- 指定index
- 重新设置index
- 指定某列为index
    - drop False 保留索引数据
- 返回index的唯一值

In [ ]:
grouped1.swaplevel()

- 置换索引

In [ ]:
grouped1.loc["GT"].loc["ZA"]

- 取数据

In [ ]:
df["title"].str.contains("abc")

- contains df["title"]列字符串是否包含abc子串

In [ ]:
pd.date_range(start="20171230",end="20180131", freq="D")
pd.date_range(start="20171230",end="20180131", freq="10D")
pd.date_range(start="20171230",periods=10, freq="D")
pd.date_range(start="20171230",periods=10, freq="M")

- freq 别名
![别名](图片1.png)